.door-button-container {
    display: flex;
    flex-direction: column;
    
}

.icon-door img {
    width: 60px; /* Adjust as needed */
    margin-right: 20px; /* Space between the icon and the toggle button */
}

.state-door {
    margin-top: -20px;
    margin-left: 90px;
    font-size: 15px;
    color: #333;
    font-weight: bold;
}