.profile .contentSection{
    flex-grow: 1;
    width: 100%;
    padding: 2.5% 2.5% 0 2.5%;
    background-color: #0C153B;
  }

  .profile {
    display: flex;
    width: 106%;
    min-height: 100vh;
    max-height: 100%;
    flex-direction: column;
  }
  