.temperature-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon-and-temp {
    display: flex;
}

.temperature-text {
    margin-top: 15px;
    margin-left: 2px;
    font-size: 18px;
    font-weight: bold;
}

.temperature-info {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid red;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup p {
    margin: 0;
    font-weight: bold;
    color: red;
    text-align: center;
}

.popup p:last-child {
    margin-top: 10px;
}
