.home {
  display: flex;
  width: 106%;
  min-height: 100vh;
  max-height: 100%;
  flex-direction: column;
}


.contentSection {
  flex-grow: 1;
  width: 100%;
  padding: 2.5% 2.5% 0 2.5%;
  background-color: #F2F4F7;
}

.specialWelcome {
  color: #42307D;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.goodluck {
  color: #6941C6;
  margin-bottom: 15px;
}

.importantView {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.viewItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 20px;
  width: 40%;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.viewItem:last-child {
  margin-right: 0;
}

.home .viewImg {
  background-color: #F4EBFF;
  padding: 20px;
  border-radius: 10px;
}

.data {
  margin-left: auto;
}

.value {
  color: #6941C6;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 5px;
  text-align: right;
}

.description {
  color: #6941C6;
}

.waitingLog {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.waitP {
  font-weight: bold;
  margin-bottom: 10px;
}

.home .viewItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(229, 213, 230);
  padding: 40px;
  width: 800px;
  height: 200px; 
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.home .viewImg2 {
  padding: 0px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightCard {
  margin-bottom: 20px;
}

.doorCard {
  margin-bottom: 20px;
}

.fanCard {
  margin-bottom: 20px;
}

.humidityCard {
  margin-bottom: 20px;
}

.temperatureCard {
  margin-bottom: 20px;
}

/* Add these styles to the end of your existing CSS file */
.container {
  display: flex;
  justify-content: center; /* Center the columns horizontally */
  gap: 20px; /* Add some space between the columns */
}

.leftColumn {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* display: inline-block; */
}

.rightColumn {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* display: inline-block; */
}

.lightCard, .doorCard, .fanCard {
  margin-bottom: 20px;
}

.humidityCard, .temperatureCard {
  margin-bottom: 20px;
}
