@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.login{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
.login section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../../assets/background.png')no-repeat;
    background-position: center;
    background-size: cover;
}

.form-loginbox {
  position: relative;
  width: 25%; /* Set width to 25% of the page */
  height: 100%; /* Set height to 80% of the page */
  background: #fff; /* Set background color to white */
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto; /* Push the box to the left */
  margin-right: 250px; /* Ensure there's no extra space on the left */
}


.form-value h2{
    font-size: 1.5em;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
}
.inputbox {
  position: relative;
  margin: 30px 0;
  width: 300px; /* Adjust width */
  /* Remove border-bottom and add border around the input */
  /* border: 2px solid #000; /* Set border color */
  /* border-radius: 10px; /* Add border-radius for rounded corners */
}

.inputbox label {
  position: absolute;
  top: -50%; /* Adjust label position */
  left: 0px; /* Adjust label position */
  color: #000;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

.login input:focus ~ label,
.login input:valid ~ label {
  top: -25px; /* Adjust label position */
  left: 0px; /* Adjust label position */
}

.inputbox input {
  width: calc(100% - 20px); /* Adjust width to accommodate borders */
  height: 40px; /* Adjust height */
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 35px 0 5px; /* Adjust padding */
  color: #000;
  border-radius: 10px; /* Add border-radius for rounded corners */
}

.login-btn{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #2655fb;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register-block{
    font-size: .9em;
    color: #000;
    text-align: center;
    margin: 25px 0 10px;
}
.register-block p a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.register-block p a:hover{
    text-decoration: underline;
}