/*Thêm nội dung design cái navbar nha, ô sửa bên kia thì nó kh hiện lên đc, phải có css mới biết đẹp kh :v*/

 * {
    box-sizing: border-box;
    margin: 0;
  }
  
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-height: 200%;
    width: 15vw;
    background-color: #092393;
  }
  
  .logo {
    width: 100%;
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-bottom: 0vh;
  }
  
  .navbar-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
  }
  
  .navbar-content p {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
  }
  
  .navbar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5em;
    margin-top: 1vh;
    margin-left: 3vh;
    margin-right: 4vh;
    margin-bottom: 1vh;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
  }

  .navbar-item:hover {
    text-decoration: underline white;
  }
  
  .navbar-item img {
    margin-right: 20px;
    margin-left: 2.5vh;
  }
  
  #mainFunction {
    background-color: #7F56D9;
  }
  
  #mainFunction p {
    color: white;
  }
  
  .current-page { /*the active card's color*/
    background-color: #5E44FF;
  }
  
  .navbar-logout-section {
    width: 100%;
    margin-top: auto; 
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .blank {
    margin-bottom: 200px;
  }

  #logout p {
    color: white;
  }
  
  /* F4EBFF */
  