.humidity-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.LightBedRoom-header {
    margin-top: 10px;
    margin-right: 3vh;
    margin-left: 1vh;
    font-size: 18px;
    font-weight: bold;
}