.buypaper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    flex-direction: column;
}

.table {
    width: 100%;
    
}

.buyLog {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: rgba(102,112,133,1);
    font-size: 15px;
    box-shadow: 0 -4px 4px 0px rgba(0, 0, 0, 0.1),
              4px 0 4px 0 rgba(0, 0, 0, 0.1),
              0 4px 4px 0 rgba(0, 0, 0, 0.1),
              -4px 0 4px 0 rgba(0, 0, 0, 0.1);
}

.buyHeader {
    text-align: left;
    z-index: 1;
}

table {
    margin: 10px;
    border-collapse: collapse;
}

th {
    width: 20%;
    padding-bottom: 15px;
}

td{
    width: 20%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(102,112,133,1);
}

.title {
    display: flex;
    flex-direction: row;
    height: 40px;
}


.boxTitle { 
    color: #000;
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    font-size: 1.6em;
    color: #7F56D9;
    background-color: white;
    margin: 0 10px;
    border: none;
}

.pagination span {
    font-size: 1.2em;
}

.titleContainer{
    display: flex;
    flex-direction: row;
}

.paperLeft{
    display: flex;
    flex-direction: row;
    width: 250px;
    align-items: center;
    margin: auto 0 auto auto;
}

.paperTitle{
    padding-right: 50px;
}
.add{
    display: flex;
    flex-direction: row;
}

.addButton{
    display: flex;
    align-items: center;
    margin: auto 0 auto auto;
    width: 154px;
    height: 40px;
    border-radius: 8px;
    padding: 20px;
    border: none;
    cursor: pointer;
    background-color: #F4EBFF;
}

.addItem{
    display: flex;
    padding-right: 20px;
}

.addItem:last-child {
    color: #7F56D9;
    padding: 20px 0px;
}


